header{
    background: #131D40;
}
.navbar{
    padding: 0;
}
.navbar-brand{
    background: rgba(255, 255, 255, 0.1);
    padding:15px 20px;
    margin: 0;
}
.nav-link{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 20px 25px !important;
}
.nav-link:hover, .dropdown-toggle.show{
    background: rgba(255, 255, 255, 0.05);
    color: #FFFFFF;
}
.profile-name{
    background: #D6EBFA;
    color: #0E0D2B;
    width: 37px;
    height: 30px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: block;
    text-align: center;
    border-radius: 4px;
    padding: 7px;
    margin: 0 20px;
    cursor: pointer;
}


.container-fluid{
    width: calc(100vw - 40px);
    margin: auto;
    padding: 0;
}



.all-donor-grid{
    width: calc(100% - 40px);
    margin:0px auto;
}
.all-donor-grid .grid-row{
    display: grid;
    grid-template-columns:3fr 1.5fr 2fr 2fr 1fr 1fr 1fr;
    background: #fff;
    padding: 10px 20px;
    margin-bottom: 0px;
    border-radius: 0;
    font-size: 13px;
    grid-gap:40px;
    align-items: center;
    border-bottom:  1px solid #EDEDEF;
}
.grid-header{
    display: grid;
    grid-template-columns: 3fr 1.5fr 2fr 2fr 1fr 1fr 1fr;
    padding: 5px 20px;
    margin-bottom: 0;
    border-radius: 0;
    font-size: 11px;
    font-weight: 500;
    color: #2A2932;
    grid-gap: 40px;
    align-items: center;
    background: #D4D4E2;
}
.all-donor-grid .grid-sub-row{
    display: grid;
    grid-template-columns:repeat(7, 1fr);
    background: #fff;
    padding: 10px 20px;
    margin-bottom: 0px;
    border-radius: 0;
    font-size: 13px;
    grid-gap:40px;
    align-items: center;
    border-bottom:  1px solid #EDEDEF;
}
.grid-sub-row p{
    margin-bottom: 0;
}
.grid-row:hover{
    background: #F8F8FF;
}
.grid-wrap.active .grid-row, .grid-wrap.active .grid-sub-row{
    background: #F8F8FF;
} 
.grid-wrap #open-subgrid img{
    transform: rotate(0deg);
    transition: 0.1s all;
}
.grid-wrap.active #open-subgrid img{
    transform: rotate(-180deg);
    transition: 0.1s all;
}
.grid-row p{
    margin-bottom: 5px;
}
.grid-row p:last-of-type{
    margin-bottom: 0;
}
.grid-row h2{
    line-height: 20px;
}
.tag{
    font-size: 13px;
    font-weight: 500;
    color: #2A2932;
    padding: 4px 12px;
    border-radius: 50px;
}
.main-menu-wrap{
    height: calc(100vh - 120px);
    overflow-y: auto;
    display: grid;
    grid-template-columns: 50px auto;
}

.country-dropdown .pc-list {
    width: 110px !important
}

.main-tab{
    background: #fff;
    margin: 0 !important;
    padding: 0 20px;
}
.main-tab-content{
    background: #E7E7F1;
    padding: 20px 0;
}
.main-tab .nav-item .nav-link{
    font-size: 14px;
    color: #2A2932;
    letter-spacing: 0.02em;
    border: 1px solid #EDEDEF;
    border-radius: 6px 6px 0px 0px;
    padding: 9px 15px !important;
    margin-right: 6px;
}
.main-tab .nav-item .nav-link.active{
    font-size: 14px;
    color: #2A2932;
    letter-spacing: 0.02em;
    background: #E7E7F1;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.dropdown-menu{
    box-shadow: 0px 2px 10px rgba(19, 29, 64, 0.21);
    border-radius: 0px 0px 5px 5px;
}
.dropdown-menu .dropdown-item{
    font-weight: 400;
    font-size: 14px;
    color: #2A2932;
    letter-spacing: 0.02em;
    padding: 9px 15px;
    
    
}
.dropdown-menu .dropdown-item:hover{
    background: #F8F8FF;
    color: #2A2932;
}
.dropdown-menu .dropdown-item:last-child:hover{
   border-radius: 0px 0px 5px 5px;
}
.navbar-nav .dropdown-menu:before{
    content: '';
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    top: -8px;
    left: 18%;
}
.nav-link.dropdown-toggle{
    position: relative;
    padding: 20px 40px 20px 25px !important;
}
header .dropdown-toggle::after {
    content: url('../images/menu-down.svg');
    border: none;
    top: 19px;
    position: absolute;
    right: 25px;
}
header .dropdown-toggle.show:after {
    content: url('../images/menu-down.svg');
    border: none;
    transform:rotate(-180deg);
    top: 23px;
    position: absolute;
    right: 25px;
}
.sort-dropdown .dropdown-menu{
    margin-top: 4px !important;
    box-shadow: 0px 2px 10px rgba(19, 29, 64, 0.21);
}
/* .sort-dropdown .dropdown-menu:before{
    content: '';
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    top: -8px;
    left: 2%;
} */
.sort-dropdown .dropdown-item{
    padding-left: 35px;
}
.sort-dropdown .dropdown-item.checked{
    position: relative;
}
.sort-dropdown .dropdown-item.checked::before{
    content: url('../images/checked.svg');
    position: absolute;
    left: 15px;
}
.dropdown-search{
    position: relative;
    border: 1px solid #EDEDEF;
    border-radius: 4px;
    max-width:calc(100% - 20px) ;
    color: #7D7C88;
    font-size: 14px;
    margin: auto;
    display: block;
}
.search-icon{
    position: absolute;
    top: 10px;
    left: 20px;
}
.search-wrap{
    min-width: 250px
}
.grid-footer{
    background: #E7E7F1;
}

/* form page */
.left-panel{
    margin: 0;

}
.left-panel .list-group-item{
    border: none;
    padding:5px 0;
    margin: 5px 0;
}
.left-panel.list-group-flush a{
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    color: #2A2932;
}
.rightpanel{
    background: #E7E7F1;
    padding: 20px;
}
.card{
    border-radius: 0;
    border: none;
}
.card-body{
    padding: 20px;
}
.card-title{
    font-weight: 700;
    font-size: 17px;
    color: #2A2932;
    margin-bottom: 20px;
}
.form-label{
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #2A2932;
    margin-bottom: 12px;
}
.form-control::placeholder{
    font-weight: 400;
    font-size: 13px;
    color: #7D7C88;
}
.form-control{
    border: 1px solid #DDDDE7;
    border-radius: 2px;
    font-size: 13px;
    color: #2A2932;
}
.form-control:focus{
    border: 1px solid #b3b3bb;
}
.form-check-box{
    padding: 12px 15px 12px 35px;
    border: 1px solid #DDDDE7;
    border-radius: 2px;
}
.form-check-label{
    cursor: pointer;
}
.form-check-input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 12px;
    position: relative;
    top: -4px;
    border: 1px solid #DDDDE7;
    border-radius: 2px;
}
.form-check-input[type="checkbox"]:focus, .form-check-input[type="radio"]:focus {
    border-color: #219D82;
    outline: 0;
    box-shadow: none;
}
.form-check-input[type="checkbox"]:checked {
    background-color: #219D82;
    border-color: #219D82;
}
.form-check-input[type="radio"]:checked {
    background-color: #219D82;
    border-color: #219D82;
}
.datepicker-box{
    position: relative;
}
.datepicker-box::after{
    content:url('../images/calendar.svg');
    position: absolute;
    top: 9px;
    right: 10px;
}
.multiselect-option.dropdown-item,
.multiselect-container .multiselect-option:hover, 
.multiselect-container .multiselect-group:hover, 
.multiselect-container .multiselect-all:hover, 
.multiselect-container .multiselect-option:focus, 
.multiselect-container .multiselect-group:focus, 
.multiselect-container .multiselect-all:focus{
    background: #fff !important;
    color: #333C64 !important;
    font-size: 13px !important;
    padding: 5px !important;
}
.multiselect-option.dropdown-item.active{
    background: #fff !important;
    color: #333C64 !important;
    font-size: 13px !important;
    padding: 5px !important;
}
.multiselect{
    border: 1px solid #DDDDE7;
    border-radius: 2px;
    font-size: 13px;
    color: #2A2932;
}
.multiselect-selected-text{
    color: #2A2932;
}
.multiselect-container{
    padding: 15px 20px 15px 10px;
}
.selected-tag-list{
    margin: 0;
    padding: 0;
}
.selected-tag-list li{
    display: inline-block;
    background: #F2F3F8;
    border-radius: 5px;
    padding: 10px;
    color: #2A2932;
    font-weight: 400;
    font-size: 14px;
    padding-left: 30px;
    position: relative;
}
.selected-tag-list li span{
    margin-left: 15px;
    cursor: pointer;
}
.selected-tag-list li:before{
    content: url('../images/dragIcon.svg');
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 11px;
}

.inner-tab-wrap{
    border: 1px solid #DDDDE7;
}
.inner-tab-list li{
    border: none !important;
    background: none !important;
}
.inner-tab-list li button{
    border: none !important;
    background: none !important;
    padding: 10px !important;
    color: #2A2932;
}
.inner-tab-list li.nav-link.active{
    color: #2A2932;
}
.sub-card-title{
    font-weight: 600;
    font-size: 14px;
}