header {
  background: #131d40;
  height: 60px;
  position: sticky;
  z-index: 12;
  top: 0;
}
html,
body {
  height: 100%;
}
main {
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* overflow-y: hidden; */
}

/* .sticky-column-left{
  border-right: 3px solid  #DDDDE7;
} */

th.sticky-column-left::after {
  box-shadow: 1px 0px 3px rgba(48, 46, 56, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: -1px;
  width: 100%;
  content: "";
  pointer-events: none;
}

th.sticky-column-left-2::after,
td.sticky-column-left-3::after {
  box-shadow: 1px 0px 3px rgba(48, 46, 56, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: -1px;
  width: 100%;
  content: "";
  pointer-events: none;
}

th.sticky-column::before {
  box-shadow: -1px 0px 3px rgba(48, 46, 56, 0.3);
  position: absolute;
  top: 0;
  bottom: -1px;
  left: 0;
  width: 100%;
  content: "";
  pointer-events: none;
}

.navbar {
  padding: 0;
}
.navbar-brand {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px 20px;
  margin: 0;
}
.nav-link {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 20px 25px 5px 25px !important;
}
.nav-link:hover,
.dropdown-toggle.show {
  background: rgba(255, 255, 255, 0.05);
  color: #ffffff;
}
.profile-name {
  background: #d6ebfa;
  color: #0e0d2b;
  width: 37px;
  height: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  display: block;
  text-align: center;
  border-radius: 4px;
  padding: 7px;
  margin: 0 20px;
  cursor: pointer;
}

.container-fluid {
  z-index: 10;
  /* width: calc(100vw - 40px); */
  padding-right: 20px;
  padding-left: 20px;
  position: sticky;
  margin: auto;
  height: 110px;
  /* padding: 0; */
  align-self: flex-end;
  background-color: #ffffff;
  top: 60px;
}

section.flex-fill {
  height: 639px;
}

.table-row {
  padding: 5px 20px;
  margin-bottom: 0;
  border-radius: 0;
  font-size: 11px;
  font-weight: 500;
  color: #2a2932;
  grid-gap: 40px;
  align-items: center;
  background: #d4d4e2;
}

/* .table{
  height: 418px;
    overflow-y: scroll;
} */

.all-donor-grid {
  width: calc(100% - 40px);
  margin: 0px auto;
}

.all-donor-grid .grid-row {
  display: grid;
  grid-template-columns: 3fr 1.5fr 2fr 2fr 1fr 1fr 1fr;
  background: #fff;
  padding: 10px 20px;
  margin-bottom: 0px;
  border-radius: 0;
  font-size: 13px;
  grid-gap: 40px;
  align-items: center;
  border-bottom: 1px solid #ededef;
}
.grid-header {
  display: grid;
  grid-template-columns: 3fr 1.5fr 2fr 2fr 1fr 1fr 1fr;
  padding: 5px 20px;
  margin-bottom: 0;
  border-radius: 0;
  font-size: 11px;
  font-weight: 500;
  color: #2a2932;
  grid-gap: 40px;
  align-items: center;
  background: #d4d4e2;
}
.all-donor-grid .grid-sub-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: #fff;
  padding: 10px 20px;
  margin-bottom: 0px;
  border-radius: 0;
  font-size: 13px;
  grid-gap: 40px;
  align-items: center;
  border-bottom: 1px solid #ededef;
}
.grid-sub-row p {
  margin-bottom: 0;
}
.grid-row:hover {
  background: #f8f8ff;
}
.grid-wrap.active .grid-row,
.grid-wrap.active .grid-sub-row {
  background: #f8f8ff;
}
.grid-wrap #open-subgrid img {
  transform: rotate(0deg);
  transition: 0.1s all;
}
.grid-wrap.active #open-subgrid img {
  transform: rotate(-180deg);
  transition: 0.1s all;
}
.grid-row p {
  margin-bottom: 5px;
}
.grid-row p:last-of-type {
  margin-bottom: 0;
}
.grid-row h2 {
  line-height: 20px;
}
.tag {
  font-size: 13px;
  font-weight: 500;
  color: #2a2932;
  padding: 4px 12px;
  border-radius: 50px;
}
.main-menu-wrap {
  height: calc(100vh - 120px);
  overflow-y: auto;
  display: grid;
  grid-template-columns: 50px auto;
}

.country-dropdown .pc-list {
  width: 110px !important;
}

.main-tab {
  background: #fff;
  margin: 0 !important;
  padding: 0 20px;
  /* height: 35px; */
  overflow-y: hidden;
}
.main-tab-content {
  background: #e7e7f1;
  padding: 20px 0;
}
.main-tab .nav-item .nav-link {
  font-size: 14px;
  color: #2a2932;
  letter-spacing: 0.02em;
  border: 1px solid #ededef;
  border-radius: 6px 6px 0px 0px;
  padding: 9px 15px !important;
  margin-right: 6px;
}
.main-tab .nav-item .nav-link.active {
  font-size: 14px;
  color: #2a2932;
  letter-spacing: 0.02em;
  background: #e7e7f1;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.dropdown-menu {
  box-shadow: 0px 2px 10px rgba(19, 29, 64, 0.21);
  border-radius: 0px 0px 5px 5px;
}
.dropdown-menu .dropdown-item {
  font-weight: 400;
  font-size: 14px;
  color: #2a2932;
  letter-spacing: 0.02em;
  padding: 9px 15px;
}
.dropdown-menu .dropdown-item:hover {
  background: #f8f8ff;
  color: #2a2932;
}
.dropdown-menu .dropdown-item:last-child:hover {
  border-radius: 0px 0px 5px 5px;
}
.navbar-nav .dropdown-menu:before {
  content: "";
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  top: -8px;
  left: 18%;
}
.nav-link.dropdown-toggle {
  position: relative;
  padding: 20px 40px 20px 25px !important;
}
header .dropdown-toggle::after {
  content: url("../images/menu-down.svg");
  border: none;
  top: 19px;
  position: absolute;
  right: 25px;
}
header .dropdown-toggle.show:after {
  content: url("../images/menu-down.svg");
  border: none;
  transform: rotate(-180deg);
  top: 23px;
  position: absolute;
  right: 25px;
}
.sort-dropdown .dropdown-menu {
  margin-top: 4px !important;
  box-shadow: 0px 2px 10px rgba(19, 29, 64, 0.21);
}
/* .sort-dropdown .dropdown-menu:before{
    content: '';
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    top: -8px;
    left: 2%;
} */
.sort-dropdown .dropdown-item {
  padding-left: 35px;
}
.sort-dropdown .dropdown-item.checked {
  position: relative;
}
.sort-dropdown .dropdown-item.checked::before {
  content: url("../images/checked.svg");
  position: absolute;
  left: 15px;
}
.dropdown-search {
  position: relative;
  border: 1px solid #ededef;
  border-radius: 4px;
  max-width: calc(100% - 20px);
  color: #7d7c88;
  font-size: 14px;
  margin: auto;
  display: block;
}
.search-icon {
  position: absolute;
  top: 10px;
  left: 20px;
}
.search-wrap {
  min-width: 250px;
}
.grid-footer {
  background: #e7e7f1;
}

/* form page */
.left-panel {
  margin: 0;
}
.left-panel .list-group-item {
  border: none;
  padding: 5px 0;
  margin: 5px 0;
}
.left-panel.list-group-flush a {
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  color: #2a2932;
}
.rightpanel {
  background: #e7e7f1;
  padding: 20px;
}
.card {
  border-radius: 0;
  border: none;
}
.card-body {
  padding: 20px;
}
.card-title {
  font-weight: 700;
  font-size: 17px;
  color: #2a2932;
  margin-bottom: 20px;
}
.form-label {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #2a2932;
  margin-bottom: 12px;
}
.form-control::placeholder {
  font-weight: 400;
  font-size: 13px;
  color: #7d7c88;
}
.form-control {
  border: 1px solid #dddde7;
  border-radius: 2px;
  font-size: 13px;
  color: #2a2932;
}
.form-control:focus {
  border: 1px solid #b3b3bb;
}
.form-check-box {
  padding: 12px 15px 12px 35px;
  border: 1px solid #dddde7;
  border-radius: 2px;
}
.form-check-label {
  cursor: pointer;
}
.form-check-input[type="checkbox"] {
  width: 20px;
  height: 20px;
  /* margin-right: 12px; */
  position: relative;
  /* top: -4px; */
  border: 1px solid #dddde7;
  border-radius: 2px;
  margin-top: 0 !important;
}
.form-check-input[type="checkbox"]:focus,
.form-check-input[type="radio"]:focus {
  border-color: #219d82;
  outline: 0;
  box-shadow: none;
}
.form-check-input[type="checkbox"]:checked {
  background-color: #219d82;
  border-color: #219d82;
}
.form-check-input[type="radio"]:checked {
  background-color: #219d82;
  border-color: #219d82;
}
.datepicker-box {
  position: relative;
}
.datepicker-box::after {
  content: url("../images/calendar.svg");
  position: absolute;
  top: 9px;
  right: 10px;
}
.multiselect-option.dropdown-item,
.multiselect-container .multiselect-option:hover,
.multiselect-container .multiselect-group:hover,
.multiselect-container .multiselect-all:hover,
.multiselect-container .multiselect-option:focus,
.multiselect-container .multiselect-group:focus,
.multiselect-container .multiselect-all:focus {
  background: #fff !important;
  color: #333c64 !important;
  font-size: 13px !important;
  padding: 5px !important;
}
.multiselect-option.dropdown-item.active {
  background: #fff !important;
  color: #333c64 !important;
  font-size: 13px !important;
  padding: 5px !important;
}
.multiselect {
  border: 1px solid #dddde7;
  border-radius: 2px;
  font-size: 13px;
  color: #2a2932;
}
.multiselect-selected-text {
  color: #2a2932;
}
.multiselect-container {
  padding: 15px 20px 15px 10px;
}
.selected-tag-list {
  margin: 0;
  padding: 0;
}
.selected-tag-list li {
  display: inline-block;
  background: #f2f3f8;
  border-radius: 5px;
  padding: 10px;
  color: #2a2932;
  font-weight: 400;
  font-size: 14px;
  padding-left: 30px;
  position: relative;
}
.selected-tag-list li span {
  margin-left: 15px;
  cursor: pointer;
}
.selected-tag-list li:before {
  content: url("../images/dragIcon.svg");
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 11px;
}

.inner-tab-wrap {
  border: 1px solid #dddde7;
}
.inner-tab-list li {
  border: none !important;
  background: none !important;
}
.inner-tab-list li button {
  border: none !important;
  background: none !important;
  padding: 10px !important;
  color: #2a2932;
}
.inner-tab-list li.nav-link.active {
  color: #2a2932;
}
.sub-card-title {
  font-weight: 600;
  font-size: 14px;
}

.w-30 {
  width: 30%;
}

.w-7 {
  width: 7%;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
}

tbody > tr > td {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #504e5a;
}

.bg-purple {
  background: #efefef;
}

.bg-deleted {
  background: #f8e4e4;
}

.table-holder {
  height: 418px;
  overflow-y: scroll;
}

.table-holder.less-content {
  height: 490px;
  overflow-y: scroll;
}

/* pagination */

.pagination {
  margin-bottom: 0;
}
.page-link {
  font-weight: 500;
  font-size: 13px;
  color: #091332;
  background: #ffffff;
  border: 1px solid #d3d8e9;
  border-radius: 3px !important;
  margin: 0 4px;
  padding: 4px 12px;
}
.page-item.active .page-link {
  font-weight: 500;
  font-size: 13px;
  color: #091332;
  background: #e8ebf3;
  border: 1px solid #4a6cd5;
  border-radius: 3px !important;
  margin: 0 4px;
  padding: 4px 12px;
}

.pagination-wrap .picker {
  margin: 0 10px;
}
.pagination-wrap .picker,
.pagination-wrap .pc-element,
.pagination-wrap .picker .pc-select {
  height: 26px !important;
  max-width: 61px;
  line-height: 24px !important;
}
.pagination-wrap .picker .pc-select .pc-list {
  bottom: 26px;
  top: auto;
}

/* Create User Modal */
.modal-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #2a2932;
}

.user-modal-right-section {
  padding: 20px;
}

.sidebar-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #2a2932;
}

.sidebar-link:hover {
  color: #2a2932;
}

.sidebar-link.active {
  font-weight: 700;
}

.sidebar-link.active::after {
  width: 3px;
  height: 27px;
  background: #2a2932;
  border-radius: 10px;
  content: "";
  position: absolute;
  right: 0;
  top: 27%;
}

.section-heading {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #2a2932;
}

.form-control,
.form-select {
  background: #ffffff;
  border: 1px solid #dddde7;
  border-radius: 2px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #484653;
  height: 35px !important;
}

.form-check-label {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #2a2932;
}

.form-label {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #2a2932;
}

.sidebar-section {
  background: #e7e7f1;
  border-right: 1px solid #d1d1e0;
  height: 100vh;
}

.fixed-sidenav {
  position: sticky;
  top: 0;
  align-self: flex-start;
}

/* Delete User Modal */

.delete-user-modal {
  background: #ffffff;
  box-shadow: 0px 4px 10px 2px rgba(42, 41, 50, 0.15);
  border-radius: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.w-970px {
  width: 970px !important;
}

.delete-modal-heading {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #2a2932;
}

.delete-modal-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #504e5a;
}

/* Role Management */

.w-45 {
  width: 45%;
}

.w-17 {
  width: 17%;
}

.table-row th {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #504e5a;
}

.table-blue-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #5555ff;
  text-decoration: none;
}

.table-blue-text:hover {
  color: #5555ff;
}

.input-td {
  width: 130px;
}

.form-check-input {
  border: 1px solid #dddde7;
  border-radius: 2px;
}

.check-highlight {
  background: #eeeef1;
}

/* edit role */

.h-176 {
  height: 176px;
}

/* profile management */

.w-35 {
  width: 35%;
}

.w-8 {
  width: 8%;
}

.selected-user {
  height: 37px;
  background: #f2f3f8;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2a2932;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
}

.pointer {
  cursor: pointer;
}

.modal-list {
  border-radius: 0;
  border-left: 1px solid #dddde7;
  border-right: 1px solid #dddde7;
}

.modal-list li {
  background: #ffffff;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #dddde7;
}

/* Exception Stage */

.btn-outline {
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
}

.btn-outline-success-custom {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  border: 1px solid #219d82 !important;
  border-radius: 5px !important;
  color: #219d82 !important;
}

.btn-outline-success-custom:hover,
.btn-outline-success-custom:active {
  border: 1px solid #219d82 !important;
  color: #219d82 !important;
  background-color: #ffffff !important;
}

.w-15 {
  width: 15%;
}

.table-sticky th,
.table-sticky td {
  height: 40px !important;
}

.table-row th {
  height: 30px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.sticky-column {
  right: 0 !important;
  position: sticky !important;
  top: auto !important;
  width: 87px !important;
  background-color: #ffffff !important;
}

.sticky-column-left {
  left: -1px !important;
  position: sticky !important;
  top: auto !important;
  width: 40px !important;
  background-color: #ffffff !important;
  z-index: 9;
}

.sticky-column-left-2 {
  left: 52px !important;
  position: sticky !important;
  top: auto !important;
  background-color: #ffffff !important;
  z-index: 13;
}

.sticky-column-left-3 {
  left: 280px !important;
  position: sticky !important;
  top: auto !important;
  background-color: #ffffff !important;
  z-index: 13;
}

.sticky-column-three-icon {
  width: 115px !important;
}

.table-sticky {
  position: relative;
  width: 1500px !important;
  overflow-x: scroll;
}

.table-pendancy-option-3 {
  position: relative;
  width: 4740px !important;
  overflow-x: scroll;
}

.table-answer-template {
  width: 2200px !important;
}

.bg-table-header {
  background-color: #d4d4e2 !important;
}

.table-manage-scenario {
  width: 3000px !important;
}

.table-exception-stage {
  width: 2000px !important;
}

.text-pink {
  color: #9a3131;
}

.custom-checkbox {
  height: 45px;
  background: #ffffff;
  border: 1px solid #dddde7;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 15px 12px 30px;
  gap: 12px;
}

.z-index-2 {
  z-index: 2;
  /* overflow: hidden; */
  position: relative;
}

.z-index-3 {
  z-index: 3;
}

.filled-textarea {
  height: 70px !important;
}

.field-library-section {
  background: #e7e7f1;
  padding: 20px;
  overflow-y: scroll;
}

.fields-library-card {
  padding: 20px;
}

.link-text-success {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #219d82;
  text-decoration: none;
}

.link-text-success:hover {
  color: #219d82;
}

.link-text-black {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #2a2932;
  text-decoration: none;
}

.link-text-black:hover {
  color: #2a2932;
}

.ageing-master-section {
  background: #e7e7f1;
  padding: 20px;
}

.w-2 {
  width: 2%;
}

.link-text-black.dropdown-toggle {
  padding: 0 !important;
}

.link-text-black.dropdown-toggle::after {
  display: none !important;
}

.link-text-black.dropdown-toggle.show {
  color: #2a2932;
}

.w-8 {
  width: 8%;
}

.w-5 {
  width: 5%;
}

.btn-select.dropdown-toggle {
  background: #ffffff;
  border: 1px solid #dddde7;
  border-radius: 2px;
  width: 250px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #484653;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.h-35px {
  height: 35px !important;
}

.h-24px {
  height: 24px !important;
}

.btn-select-full-width.dropdown-toggle {
  width: 100% !important;
}

.dropdown-menu-select {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  width: 250px;
}

.dropdown-item-select:not(:last-child) {
  border-bottom: 1px solid #ededef;
}

.select-dropdown-label {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #2a2932 !important;
}

.my-hr {
  border: 1px solid #dddde7;
  height: 0px;
}

.second-nav-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.w-11 {
  width: 11%;
}

.btn-light-custom {
  background: #f3f3f5;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #2a2932;
}

.w-24 {
  width: 24%;
}

.w-20 {
  width: 20%;
}

.w-73px {
  width: 73px !important;
}

.height-100vh {
  height: 100vh !important;
}

.table-td-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #5555ff;
  text-decoration: none;
}

.table-td-link:hover {
  text-decoration: underline;
}

.pendancy-home-link {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #2a2932;
  text-decoration: none;
}

.pendancy-home-link:hover {
  color: #2a2932;
}

.breadcrumb-active {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #2a2932;
}

.dropdown-item-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2a2932;
}

.badge-tag-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2a2932;
}

.accordian-table {
  padding: 10px 15px;
  gap: 10px;
  width: 1291px;
  height: 30px;
  background: #d4d4e2;
}

.accordion-button {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.02em;
  color: #2a2932;
}

.accordion-button:not(.collapsed) {
  padding: 10px 15px;
  gap: 10px;
  width: 1291px;
  height: 30px;
  background: #d4d4e2;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.02em;
  color: #2a2932;
}

.accordion-button:focus {
  border: none !important;
  box-shadow: none !important;
}

.w-280px {
  width: 280px;
}

.w-220px {
  width: 220px;
}

.w-100px {
  width: 100px;
}

.w-125px {
  width: 125px;
}

.w-75px {
  width: 75px;
}

.w-190px {
  width: 190px;
}

.w-110px {
  width: 110px;
}

.w-160px {
  width: 160px;
}

.w-170px {
  width: 170px;
}

.w-175px {
  width: 175px;
}

.w-200px {
  width: 200px;
}

.w-120px {
  width: 120px;
}

.w-150px {
  width: 150px;
}

.w-210px {
  width: 210px;
}

.w-130px {
  width: 130px;
}

.w-180px {
  width: 180px;
}

.w-185px {
  width: 185px;
}

.w-140px {
  width: 140px;
}

.w-115px {
  width: 115px !important;
}

.w-300px {
  width: 300px;
}

.w-145px {
  width: 145px;
}

.w-250px {
  width: 250px;
}

.w-1500px {
  width: 1500px !important;
}

.w-70px {
  width: 70px !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
  transform: none;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.table-view-response,
.w-7780px {
  width: 7780px !important;
}

.table-edit-alert {
  width: 3500px !important;
}

.worklog-card {
  background: #ffffff;
  padding: 20px;
}

.worklog-card-heading {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #2a2932;
}

.worklog-card-points {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #504e5a;
}

.point-inner-text {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #504e5a;
}

.bg-light-custom {
  background: #e2e3f3;
}

.vertical-border {
  border: 1px solid #dddde7;
  transform: rotate(90deg);
}

.date-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #504e5a;
}

.alert-detail-table-left-column {
  width: 250px;
  height: 40px;
  padding: 10px;
  background: #d4d4e2;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #c7c7d8;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #504e5a;
}

.alert-detail-table-right-column {
  width: 1056px;
  height: 40px;
  padding: 10px;
  background: #ffffff !important;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: #dddde7;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #504e5a;
}

.history-text {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #2a2932;
  transform: rotate(-0.01deg);
}

.h-75 {
  height: 75px !important;
}

/* Login Screen */
.login-left-column {
  background: #131d40;
}

.login-right-column {
  background: #ffffff;
  padding: 150px;
}

.login-form {
  width: 450px;
  height: 356px;
}

.login-heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.login-para {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.padding-30px {
  padding: 30px;
}

.form-heading {
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.02em;
  color: #2a2932;
}

.form-para {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #2a2932;
}

.login-form-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2a2932;
  margin-bottom: 5px;
}

.forgot-password-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #2a2932;
}

.form-input-field {
  background: #ffffff;
  border: 1px solid #dddde7;
  border-radius: 2px;
  padding: 10px 14px;
  height: 42px !important;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #7d7c88;
}

.form-input-field:hover {
  background: #f5f5fb;
  cursor: pointer;
}

.form-submit-btn {
  background: #219d82;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  height: 42px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.form-submit-btn:hover {
  background: #1b856e;
}

.ul-text {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #2a2932;
}

.w-116px {
  width: 116px;
}

.table tr td {
  height: 40px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.no-height {
  height: auto !important;
}

.no-height-tab-content {
  height: calc(100% - 40px);
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.text-content-login-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 15px;
}

.form-text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}

.h-24px {
  height: 24px !important;
}

.form-control.h-24px:hover {
  background-color: #f5f5fb !important;
  cursor: pointer;
}

.form-control.h-24px:focus {
  background-color: #ffffff !important;
  cursor: pointer;
}

.filter-th {
  position: relative;
}

.filter-th::after {
  content: url(../images/filter-icon.svg);
  border: none;
  position: absolute;
  right: 10px;
}

.w-165px {
  width: 165px;
}

.w-320px {
  width: 320px;
}

.allocation-modal {
  width: 1030px;
  height: 478px;
  background: #ffffff;
  box-shadow: 0px 4px 10px 2px rgba(42, 41, 50, 0.15);
  border-radius: 10px;
}

.correlation-modal {
  width: 776px;
  height: 501px;
  background: #ffffff;
  box-shadow: 0px 4px 10px 2px rgba(42, 41, 50, 0.15);
  border-radius: 10px;
}

.nav-link.w-50 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px !important;
  border-radius: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #2a2932;
}

.nav-link.w-50.active {
  background: #e9e9f0;
  border-bottom: 1px solid #dddde7;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #2a2932;
}

.no-data-text {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #2a2932;
}

.h-100{
  height: 100%;
}

.table-row{
  position: sticky;
  top: 0;
  z-index: 1001;
}